<div class="mx-auto flex h-10 w-full max-w-6xl items-center gap-3">
    <button
        hlmBtn
        size="icon"
        variant="ghost"
        class="md:hidden"
        (click)="handleToggleSidebar()"
    >
        <hlm-icon name="lucideMenu" />
    </button>
    <a routerLink="/" class="flex items-center gap-1.5">
        <img
            [ngSrc]="
                authService.isPro()
                    ? 'assets/logo-pro.png'
                    : 'assets/logo-noob.png'
            "
            title="logo"
            alt="logo"
            height="40"
            width="40"
        />
        <h1 class="flex-1 text-2xl font-bold md:flex-none">pocket knoife</h1>
    </a>

    <!-- Desktop Search Bar -->
    <app-search class="mx-6 hidden flex-1 md:block" />
    <!-- Mobile Search Button -->
    <button
        hlmBtn
        size="icon"
        variant="ghost"
        class="ml-auto md:hidden"
        (click)="navService.openQuestions()"
    >
        <hlm-icon name="lucideSearch" />
    </button>

    @if (authService.isLoggedIn()) {
        <hlm-avatar class="h-9 w-9 cursor-pointer" [brnMenuTriggerFor]="menu">
            <span
                [ngClass]="
                    authService.isPro()
                        ? 'bg-pro text-pro-foreground'
                        : 'bg-noob text-noob-foreground'
                "
                class="select-none"
                hlmAvatarFallback
                >{{ authService.getUserData()!.username.charAt(0) }}
            </span>
        </hlm-avatar>

        <ng-template #menu>
            <hlm-menu class="w-48">
                <hlm-menu-label class="font-medium">
                    <span class="font-semibold">Logged in as: </span>
                    {{ authService.getUserData()?.username }}</hlm-menu-label
                >

                <hlm-menu-label class="font-medium">
                    <span class="font-semibold">Role: </span
                    >{{ authService.getUserData()?.role }}
                </hlm-menu-label>

                <hlm-menu-separator />
                <button hlmMenuItem class="hidden">
                    button to take the autofocus lol
                </button>

                @if (themeService.getBaseTheme() === 'dark') {
                    <button
                        hlmMenuItem
                        class="cursor-pointer"
                        (click)="themeService.setTheme('light')"
                    >
                        <hlm-icon name="lucideSun" hlmMenuIcon />
                        <span>Light Theme</span>
                    </button>
                } @else {
                    <button
                        hlmMenuItem
                        class="cursor-pointer"
                        (click)="themeService.setTheme('dark')"
                    >
                        <hlm-icon name="lucideMoon" hlmMenuIcon />
                        <span>Dark Theme</span>
                    </button>
                }

                <hlm-menu-separator />

                <button
                    hlmMenuItem
                    class="cursor-pointer"
                    (click)="handleLogoutUser()"
                >
                    <hlm-icon name="lucideLogOut" hlmMenuIcon />
                    <span>Logout</span>
                </button>
            </hlm-menu>
        </ng-template>
    } @else {
        <button (click)="handleLogoutUser()" hlmBtn>Login</button>
    }
</div>
