<section>
    <section class="flex gap-4">
        <app-score-post [score]="answer.score" />
        <div class="flex flex-col justify-between pb-2">
            <app-rate-answer />
            <span class="flex items-center gap-1">
                <app-user-badge [user]="answer.user"></app-user-badge>
                <span class="font-bold">·</span>
                <span class="text-sm text-foreground/80">{{
                    formatDateXTimeAgo(answer.createdAt)
                }}</span>
            </span>
        </div>
    </section>
    <section [innerHTML]="answer.content" class="mt-3 leading-6"></section>
    <section *ngIf="authService.checkMatchUserId(answer.user.id)"
             class="flex gap-2 text-sm mt-2 underline-offset-2 underline hover:cursor-pointer text-gray-400"><a
        (click)="edit.emit(answer)">edit</a><a >delete</a></section>
    <hr
        class="mb-4 mt-2 h-[1px] border-t-0"
        [ngClass]="answer.user.role === 'NOOB' ? 'bg-noob' : 'bg-pro'"
    />

    <app-comments
        [comments]="answer.comments"
        type="ANSWER"
        [questionId]="answer.id"
        [answerId]="answer.id"
    />
</section>
