<div>
    <div class="flex">
        <div class="flex flex-1 gap-4">
            <app-score-post
                [disabled]="!authService.isLoggedIn()"
                [score]="answer.score"
                [upvoted]="userVoteAnswerQuery.data()"
                (vote)="handleUpvote($event)"
            />
            <div class="mt-2 flex flex-col justify-between pb-2">
                <span class="flex items-center gap-2">
                    <app-rate-answer
                        [currentRating]="userRatingAnswerQuery.data()"
                        (rate)="handleRate($event)"
                    />
                    |
                    <app-answer-rating-badge
                        showBestAnswer="false"
                        [rating]="answer.rating"
                    />
                </span>
                <span class="flex flex-wrap items-center gap-1">
                    <app-user-badge [user]="answer.user"></app-user-badge>
                    <span class="font-bold">·</span>
                    <span class="text-sm font-bold text-foreground/80"
                        >{{ formatDateXTimeAgo(answer.createdAt) }}
                    </span>

                    @if (answer.lastEditedAt) {
                        <span class="font-bold">·</span>
                        <div
                            class="flex items-center gap-1 text-sm text-foreground/80"
                        >
                            <span class="font-semibold">{{ 'edited: ' }}</span>
                            {{ formatDateXTimeAgo(answer.lastEditedAt) }}
                        </div>
                    }

                    @if (authService.checkEditRights(answer.user.id)) {
                        <span class="font-bold">·</span>
                        <span class="ml-1 flex items-center gap-3">
                            <button (click)="edit.emit(answer)">
                                <hlm-icon size="sm" name="lucidePencil" />
                            </button>
                            <button (click)="deleteDialogOpen.set('open')">
                                <hlm-icon size="sm" name="lucideTrash" />
                            </button>
                        </span>
                    }
                </span>
            </div>
        </div>
        <app-approved-badge
            (approve)="handleApproveAnswer($event)"
            [approved]="answer.approved"
            [editable]="
                authService.isLoggedIn() &&
                authService.checkEditRights(questionAuthorId)
            "
            class="mr-2 mt-2"
            [ngClass]="
                authService.checkEditRights(questionAuthorId) || answer.approved
                    ? ''
                    : 'invisible'
            "
        />
    </div>
    <section
        [innerHTML]="answer.content"
        class="quill-js-content mt-1 leading-6"
    ></section>
    <hr
        class="mb-4 mt-2 h-[1px] border-t-0"
        [ngClass]="answer.user.role === 'NOOB' ? 'bg-noob' : 'bg-pro'"
    />

    <app-comments
        [comments]="answer.comments"
        type="ANSWER"
        [questionId]="answer.id"
        [answerId]="answer.id"
    />
</div>
<hlm-dialog
    [state]="deleteDialogOpen()"
    (closed)="deleteDialogOpen.set('closed')"
>
    <hlm-dialog-content *brnDialogContent="let ctx">
        <hlm-dialog-header class="w-[250px]">
            <h3 hlmDialogTitle>Delete Answer?</h3>
        </hlm-dialog-header>
        <hlm-dialog-footer>
            <button (click)="handleDeleteAnswer()" hlmBtn variant="destructive">
                Delete
            </button>
        </hlm-dialog-footer>
    </hlm-dialog-content>
</hlm-dialog>
