<header class="sticky top-0 w-full border-b bg-background px-4 py-2 md:px-8">
    <app-appbar (toggleSidebar)="toggleSidebar()" />
</header>

<div class="w-full px-4 md:px-8">
    <div class="mx-auto flex w-full max-w-6xl">
        <!-- Desktop Sidebar -->
        <nav class="fixed top-[57px] hidden h-[calc(100vh-57px)] w-52 border-r py-8 pr-4 md:block">
            <app-sidebar (closeSidebar)="closeSidebar()" />
        </nav>

        <div class="w-full py-6 md:ml-52 md:py-8 md:pl-8">
            <router-outlet />
        </div>
    </div>
</div>

<!-- Mobile Sidebar -->
<nav
    *ngIf="isSidebarOpen"
    class="fixed left-0 top-[57px] h-[calc(100vh-57px)] w-full max-w-sm border-r bg-background px-4 py-6 md:hidden"
>
    <app-sidebar (closeSidebar)="closeSidebar()" />
</nav>
