<article class="flex w-full flex-col gap-1.5 rounded-lg border p-3">
    @if (question.tags.length > 0) {
        <section class="flex flex-wrap gap-1">
            @for (tag of question.tags; track $index) {
                <app-tag-badge [tag]="tag.name" />
            }
        </section>
    }
    <a routerLink="/questions/{{ question.id }}">
        <h2
            class="line-clamp-3 cursor-pointer text-xl font-semibold hover:underline"
        >
            {{ question.title }}
        </h2>
    </a>

    <!-- TODO: make innerHTML and style correctly -->
    <div
        [innerHTML]="question.content"
        class="quill-js-preview line-clamp-3"
    ></div>

    <section class="flex flex-wrap items-center gap-1">
        <app-score-badge [score]="question.score" />
        <span class="font-bold">·</span>
        <app-answer-count-badge [commentCount]="question.answerCount" />

        @if (question.topAnswerRating !== -1) {
            <span class="font-bold">·</span>
            <app-answer-rating-badge [rating]="question.topAnswerRating" />
        }

        <div class="ml-auto flex items-center gap-1 pl-3">
            <app-user-badge [user]="question.user" />
            <span class="font-bold">·</span>
            <span class="text-sm text-foreground/80">{{
                formatDateXTimeAgo(question.createdAt)
            }}</span>
        </div>
    </section>
</article>
