<section>
    <section class="flex gap-4">
        <app-score-post [score]="question.score" />
        <div class="flex flex-col justify-between pb-2">
            <h1 class="text-4xl">{{ question.title }}</h1>
            <span class="flex items-center gap-1">
                <app-user-badge [user]="question.user"></app-user-badge>
                <span class="font-bold">·</span>
                <span class="text-sm text-foreground/80">{{
                        formatDateXTimeAgo(question.createdAt)
                    }}</span>
            </span>
        </div>
    </section>
    <section [innerHTML]="question.content" class="mt-3 leading-6"></section>
    <section class="mt-2 flex flex-wrap gap-1">
        @for (tag of question.tags; track tag) {
            <app-tag-badge [tag]="tag.name" />
        }
    </section>
    <section *ngIf="authService.checkMatchUserId(question.user.id)"
             class="flex gap-2 text-sm mt-2 underline-offset-2 underline hover:cursor-pointer text-gray-400"><a
        routerLink="./edit">edit</a><a (click)="deleteDialogOpen.set('open')">delete</a></section>
    <hr
        class="mb-4 mt-2 h-[1px] border-t-0"
        [ngClass]="question.user.role === 'NOOB' ? 'bg-noob' : 'bg-pro'"
    />

    <app-comments
        [comments]="question.comments"
        type="QUESTION"
        [questionId]="question.id"
    />
</section>
<hlm-dialog [state]="deleteDialogOpen()" (closed)="deleteDialogOpen.set('closed')" >
    <hlm-dialog-content *brnDialogContent="let ctx">
        <hlm-dialog-header class="w-[250px]">
            <h3 hlmDialogTitle>Delete Question?</h3>
        </hlm-dialog-header>
        <hlm-dialog-footer>
            <button (click)="handleDeleteQuestion()" hlmBtn variant="destructive">Delete</button>
        </hlm-dialog-footer>
    </hlm-dialog-content>
</hlm-dialog>
