<label hlmLabel
    >{{ label }}
    <span
        class="my-1 flex w-full max-w-full gap-1 overflow-auto rounded-md border border-solid border-input bg-transparent p-2 text-sm font-normal ring-offset-background focus-within:outline-none focus-within:ring-2 focus-within:ring-ring focus-within:ring-offset-2 hover:cursor-text"
    >
        <span class="flex flex-wrap gap-1">
            <ng-template ngFor let-tag [ngForOf]="internalTags.slice(0, -1)">
                <span
                    *ngIf="tag !== editBadge"
                    hlmBadge
                    (click)="handleEditBadge(tag)"
                    class="text-sm text-foreground hover:cursor-text"
                >
                    {{ tag }}
                    <hlm-icon
                        size="sm"
                        name="lucideX"
                        class="ml-1 hover:cursor-pointer hover:bg-foreground hover:text-primary"
                        (click)="handleDeleteBadge(tag)"
                    />
                </span>
                <input
                    *ngIf="tag === editBadge"
                    [value]="tag"
                    (input)="handleEditBadgeInput($event, tag)"
                    appDynamicSize
                    type="text"
                    autofocus
                    class="bg-background focus:outline-none"
                />
            </ng-template>
            <input
                class="bg-background focus:outline-none"
                value=""
                type="text"
                appDynamicSize
                (input)="handleNewBadgeInput($event)"
                (keydown)="handleKeyDown($event)"
            />
        </span>
    </span>
</label>
