<section>
    <span class="flex justify-between">
        <h1 class="text-xl">Write Answer</h1>
       <span>
        <label hlmLabel for="stick-answer-editor-cb">Stick to Position
          <hlm-checkbox id="stick-answer-editor-cb" (change)="handleIsSticky($event)" />
        </label>
       </span>
    </span>
    <form [formGroup]="createAnswerForm" (ngSubmit)="handleSubmitForm()">
        <app-quill-js formControlName="content" classes="h-[200px]" [modules]="modules" theme="snow" placeholder="" />
        <div class="flex gap-2">
            <button class="mt-1" type="submit" [disabled]="!createAnswerForm.valid"
                    hlmBtn>{{ editAnswer() ? 'Update Answer' : 'Create Answer' }}
            </button>
            <button class="mt-1" *ngIf="editAnswer()" (click)="cancel.emit()" variant="ghost" hlmBtn>Cancel Update</button>
        </div>
    </form>
</section>
