<form
    [formGroup]="loginForm"
    class="mx-auto flex w-full max-w-sm flex-col items-center justify-center gap-6 md:mt-6"
>
    <div class="flex flex-col items-center gap-2">
        <img
            ngSrc="assets/logo-noob.png"
            title="logo"
            alt="logo"
            height="40"
            width="40"
        />
        <h1 class="text-xl font-bold">Login</h1>
    </div>

    <div class="flex w-full flex-col gap-3">
        <label hlmLabel
        >Username
            <input formControlName="username" class="w-full" hlmInput />
        </label>
        <label hlmLabel class="w-full"
        >Password
            <input
                formControlName="password"
                class="w-full"
                hlmInput
                type="password"
            />
        </label>
        <button
            [disabled]="!this.loginForm.valid"
            (click)="handleLoginUser()"
            hlmBtn
            class="w-full"
        >
            Login
        </button>
    </div>

    <div class="flex flex-col justify-center gap-2">
        <span class="mx-auto text-foreground/80">Don't have an account?</span>

        <div class="mx-auto flex gap-1">
            <button
                class="font-semibold text-noob hover:underline"
                (click)="navService.openSignUpNoob()"
            >
                Sign up as Noob
            </button>
            <span> / </span>
            <button
                class="font-semibold text-pro hover:underline"
                (click)="navService.openSignUpPro()"
            >
                Sign up as Pro
            </button>
        </div>
    </div>
</form>
