<form
    [formGroup]="registerForm"
    class="mx-auto flex w-full max-w-sm flex-col items-center justify-center gap-6 md:mt-6"
>
    <div class="flex flex-col items-center gap-2">
        <img
            [ngSrc]="
                type === 'noob' ? 'assets/logo-noob.png' : 'assets/logo-pro.png'
            "
            title="logo"
            alt="logo"
            height="40"
            width="40"
        />
        <h1 class="text-xl font-bold">Sign up as {{ type.toUpperCase() }}</h1>
    </div>

    <div class="flex w-full flex-col gap-3">
        <div>
            <label hlmLabel
                >Username
                <input
                    formControlName="username"
                    maxlength="30"
                    hlmInput
                    class="w-full"
                />
            </label>

            <span
                *ngIf="
                    (registerForm.controls.username.getError('minlength') ||
                        registerForm.controls.username.getError('maxlength')) &&
                    registerForm.controls.username.dirty
                "
                class="text-xs text-destructive"
                >Username has to be between 3 and 30 characters long</span
            >
        </div>
        <div>
            <label hlmLabel
                >Password
                <input
                    formControlName="password"
                    maxlength="256"
                    hlmInput
                    type="password"
                    class="w-full"
                />
            </label>
            <span
                *ngIf="
                    (registerForm.controls.password.getError('minlength') ||
                        registerForm.controls.password.getError('maxlength')) &&
                    registerForm.controls.password.dirty
                "
                class="text-xs text-destructive"
                >Password has to be between 8 and 256 characters long</span
            >
        </div>
        <div>
            <label hlmLabel
                >Confirm Password
                <input
                    formControlName="passwordConfirm"
                    maxlength="256"
                    hlmInput
                    type="password"
                    class="w-full"
                />
            </label>
            <span
                *ngIf="
                    registerForm.getError('passwordMatch') &&
                    registerForm.controls.passwordConfirm.dirty
                "
                class="text-xs text-destructive"
                >Passwords don't match</span
            >
        </div>
        <button
            (click)="handleRegisterUser()"
            [disabled]="!registerForm.valid"
            hlmBtn
            [variant]="type === 'noob' ? 'noob' : 'pro'"
            class="w-full"
        >
            Sign Up
        </button>
    </div>

    <div class="flex flex-col gap-2">
        <div>
            @if (type === 'pro') {
                <span class="text-foreground/80"
                    >Looking for answers instead?
                </span>
                <button
                    class="font-semibold text-noob hover:underline"
                    (click)="navigationService.openSignUpNoob()"
                >
                    Sign up as Noob
                </button>
            } @else {
                <span class="text-foreground/80">Are you a professional? </span>
                <button
                    class="font-semibold text-pro hover:underline"
                    (click)="navigationService.openSignUpPro()"
                >
                    Sign up as Pro
                </button>
            }
        </div>
        <div class="mt-2">
            <span class="text-foreground/80">Already have an account? </span>
            <button
                class="font-semibold hover:underline"
                (click)="navigationService.openLogin()"
            >
                Login
            </button>
        </div>
    </div>
</form>
