@import '@angular/cdk/overlay-prebuilt.css';

/*styling for quill editor */
@import 'quill/dist/quill.snow.css';

.ql-toolbar {
    @apply rounded-t !border-accent;
}

app-quill-js.ng-invalid.ng-touched .ql-toolbar {
    @apply !border-destructive
}

app-quill-js.ng-invalid.ng-touched .ql-container {
    @apply !border-destructive text-destructive
}

app-quill-js.ng-invalid.ng-touched .ql-editor:focus-visible {
    @apply outline-2 outline-destructive outline rounded-b
}

.quill-js-content  {
    @apply prose prose-neutral prose-lg dark:prose-invert prose-h1:text-3xl prose-headings:mt-5 prose-headings:mb-1.5
    prose-h2:text-2xl prose-h3:text-xl prose-p:my-1.5 prose-ul:my-1.5 prose-ol:my-1.5 prose-li:my-0 prose-blockquote:my-5
    break-words prose-img:rounded-lg prose-img:my-3 prose-a:text-blue-500
}




/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-sans: '';

        --noob: 50 100% 60%;
        --noob-foreground: 0 0% 3.9%;
        --pro: 230 100% 60%;
        --pro-foreground: 0 0% 98%;
        --success: 142.4 71.8% 29.2%;
        --success-foreground: 0 0% 98%;
        --warning: 40 100% 55%;
        --warning-foreground: 0 0% 3.9%;

        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 50 100% 60%;
        --primary-foreground: 0 0% 3.9%;

        --secondary: 0 0% 9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --radius: 0.5rem;
    }

    .noob-dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 50 100% 60%;
        --primary-foreground: 0 0% 3.9%;

        --secondary: 0 0% 98%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }

    .pro-light {
        --primary: 230 100% 60%;
        --primary-foreground: 0 0% 98%;
    }

    .pro-dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 230 100% 60%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 98%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
