<section class="flex w-full items-center justify-between">
    <h1 class="text-3xl font-semibold">All Questions</h1>

    <button (click)="this.navigationService.openAskQuestion()" hlmBtn>
        Ask Question
    </button>
</section>

<section class="mt-6">
    <app-search class="md:hidden" />
</section>

<section class="mt-3 md:mt-6">
    <app-filter />
</section>

<section class="mt-8 flex flex-col gap-4">
    @if (questionQuery.status() === 'pending') {
        <hlm-spinner class="mx-auto" />
    } @else {
        @for (question of questions(); track question.id) {
            <app-question-preview [question]="question" />
        } @empty {
            <p>No questions found</p>
        }
    }
</section>
